<div class="container">
    <h1>Dis-nous en plus sur toi !</h1><br/>
    <div class="d-flex justify-content-center">
      <div class="quiz card-quiz">
        <% @questions.each do |question| %>
          <div class="d-flex flex-column justify-content-around h-100">
              <div class="card-quiz-title"><%= question.content %></div><br/>
              <div class="d-flex justify-content-around w-100">
                <button class="btn card-quiz-btnn btn-no">NON</button>
                <button class="btn card-quiz-btny btn-yes">OUI</button>
              </div>
          </div>
        <% end %>
      </div>
    </div>
</div>


  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


  <script type="text/javascript">

    $('.quiz').slick({
      nextArrow: $('.btn'),
      dots: true,
      infinite: false,
      speed: 300,
    });

   </script>