<div class="container">
    <h1>Dis-nous en plus sur toi !</h1><br/>
  <div class="progress prog-w">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
  </div>
  <br/>
    <div class="d-flex justify-content-center">
      <div class="quiz card-quiz">
        <% @questions.each do |question| %>
          <div class="d-flex flex-column justify-content-around h-100">
              <div class="card-quiz-title"><%= question.content %></div><br/>
              <div class="d-flex justify-content-around w-100">
                <button class="btn card-quiz-btnn btn-no">NON</button>
                <button class="btn card-quiz-btny btn-yes">OUI</button>
              </div>
          </div>
        <% end %>
      </div>
    </div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center justify-content-around">
        <h5>BRAVO! Tu es un futur FRONT_END développeur</h5>
        <p>L'aventure commence pour toi dès maintenant</p>
        <small>Décvoure nos jeux pour progrésser et te tester.</small>
      </div>
        <div class="d-flex justify-content-around mb-3">
          <%= button_to "J'ai peur 😱", class:"no" %>
          <%= button_to "C'est parti ! 💻", class:"yep" %>

        </div>
    </div>
  </div>

</div>



</div>




  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


  <script type="text/javascript">

    $('.quiz').slick({
      nextArrow: $('.btn'),
      dots: true,
      infinite: false,
      speed: 300,
    });

   </script>