<p>Le développeur back-end travaille principalement sur le back-office<br>
 ainsi que sur tous les éléments d’un projet web qui sont ”invisibles” (mais indispensables)<br>
  lorsque l’on navigue sur un site Internet.<br>
  Il se charge de la mise en place, de la configuration, du développement et de la maintenance du serveur, de la base de données et de l’application web en général.<br>
</p>