<p>Le développeur front-end est responsable de toute l’interface<br>
            graphique visible par les utilisateurs. Il est donc un maitre dans<br>
            l’implémentation du code HTML, CSS et JAVASCRIPT.<br><br>
            Et toi? Où en es-tu avec ces langages?
</p>