<p>
Développeur full-stack est un métier encore récent : très polyvalent, il cumule les fonctions de développeur back-end et front-end.<br>
 Ses missions dépendent des besoins de l’entreprise, ce profil « touche-à-tout » est capable de réaliser une grande variété de missions de développeur.<br>
 Il est à même de le concevoir de A à Z (création, développement, codage, etc.)
</p>