<div class="container d-flex flex-column" style="height: calc(100vh - 186.4px)">
  <div class="flex-grow-1">
    <h1>Devenir développeur n'a jamais été aussi FUN !</h1>
    <h2>Rejoins BeforeClass et relève tous les défis </h2>
    <p>Viens découvrir ton profil développeur et teste tes compétences avec nos mini-jeux.</p>
    <button class="button">Découvre ton profil</button>
  </div>
</div>

<footer class="footer">
        <div class="text-center p-3 d-flex justify-content-between align-items-center">
          <div>
              <a class="btn-footer" href="https://www.linkedin.com/school/le-wagon/" role="button">
              <i class="btn-footer fab fa-linkedin-in"></i></a>
              <a class="btn-footer" href="https://github.com/youssefrafra/park_it" role="button">
              <i class="btn-footer fab fa-github"></i>
              </a>
          </div>
          <div>
            &copy;2021 made at 
          <a class="footer-link" href="https://www.lewagon.com/lille">Le Wagon - BeforeClass - Lille</a>
          </div>
        </div>
</footer>