.button {
background-color: #072A40;
color: #F5F5F5;
width: 291px;
height: 80px;
border-radius: 16px;
font-size: 20px;
}

.yep {
  background-color: #072A40;
  color: #F5F5F5;
  width: 160px;
  height: 40px;
  // border-radius: 16px;
  font-size: 20px;
}

.no {
  background-color: #802121;
  color: #F5F5F5;
  width: 160px;
  height: 40px;
  // border-radius: 16px;
  font-size: 20px;
}

.button-form {
  background-color: #072A40;
  color: #F5F5F5;
  width: 80px;
  border-radius: 16px;
  font-size: 15px;
}

.btn-modal {
  border-radius: 19px;
  background-color: #244752;
  color: white;
  padding: 6px;
}