footer {
  // margin-top: 10px;
  // background-color: rgba(0,0,0,0.1);
  color: azure;
}

.footer-link {
  color: azure;
  text-decoration: none;
  font-weight: bolder;
  &:hover {
    color: midnightblue;
    opacity: 50%;
    text-decoration: none;
  }
}

.btn-footer {
  height: 16px;
  width: 16px;
  margin: 8px;
  color: azure;
  font-weight: bold;

  &:hover {
    color: azure;
    opacity: 50%;
  }
}