.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

#map {
  border-radius: 15px;
  width: 1100px;
  height: 300px;
}

// .mapboxgl-canvas{
//   width: 1100px;
// }