.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas{
  // height: 600px !important;
}

#map {
  position: sticky;
  top: 0;
  width: 100vw;
  border-radius: 15px;
}