.modal-question {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
  position: absolute;
  background-color: #178CA4;
  color: white;
}

.prog-w{
  height: 30px;
}

.school-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.school-info img {
  width: 12%;
}

.school-description {
  padding-left: 50px;
}

.school-url {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
  margin-bottom: 20px;
}