.modal-question {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
  position: absolute;
  background-color: #178CA4;
  color: white;
}

.prog-w{
  height: 30px;
}