<div id="game-5">
    <div class="header-game">
        <button id="run-btn">Run</button>
    </div>
    <div class="editor">
        <div class="code">
            <div class="html-code"></div>
            <div class="css-code"></div>
            <div class="js-code"></div>
        </div>
        <div class="preview">
            <iframe id="preview-window"></iframe>
        </div>
    </div>
</div>