<div id="game-5">
    <div class="game-header">
        <div class="d-flex justify-content-between w-25">
        <button id="run-btn">Run</button>
        <button id="reset-btn">Reset</button>
        </div>
    </div>
    <div class="editor">
        <div class="d-flex flex-column">
            <div class="consigne">
                <p>Text Text Text</p>
            </div>
            <div class="code flex-grow-1">
                <%# <div class="html-code" ></div>
                <div class="css-code"></div> %>
                <div class="js-code"></div>
            </div>
            <div class="d-flex justify-content-between">
                <%= link_to  "Test ton code", "#" , class:"btn btn-outline-dark mt-4", id:"submit"%>
            </div>
        </div>
        <div class="preview">
            <iframe id="preview-window"></iframe>
        </div>
    </div>
</div>